@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Ubuntu:wght@300&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

:root {
  --body-font: Arial;
  --body-back: white;
  --body-color: hsl(20, 15%, 20%);
  --header-font: 'Dela Gothic One', cursive;
  --header-back: hsl(190, 100%, 30%);
  --header-color: white;
  --aboutme-back: hsl(20, 15%, 10%);
  --nav-back: hsl(200, 100%, 35%);
  --footer-back: #CCC;

}

* {
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;  
}

p {
  padding: 0 0 1rem 0;
}